{% extends "layouts/base.html" %}

{% block content %}

<h1>All TASKS</h1>

<ul>
    {% for task in tasks %}
    <a href="{% url 'task_detail' task.id %}">
        <li>
            {% if task.important %}
            <h3><strong>{{task.title}}</strong></h3>
            {% else %}
            <p>{{task.title}}</p>
            {% endif %}
            <p>{{task.description}}</p>
            <p>Task by : {{task.user}}</p>
            {% if task.datecompleted %}
            <p>Completed the : {{task.datecompleted|date:'d M Y'}}</p>
            {% endif %}
        </li>
    </a>
    {% endfor %}
</ul>




{% endblock %}